:root {
    /* CSS HEX */
    --ultra-violet: #605CA1ff;
    --ultra-violet-2: #676A96ff;
    --persian-indigo: #321C89ff;
    --resolution-blue: #352590ff;
    --cardinal: #B02E44ff;
    --persian-indigo-2: #260D68ff;
    --amethyst: #A562E0ff;
    --persian-indigo-3: #321C8Cff;
    --federal-blue: rgb(22, 7, 61);
    --cadet-gray: #8093A6ff;
}

@font-face {
    font-family: Space;
    src: url(Roboto_Condensed/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: Modern;
    src: url(modern-warfare-font/ModernWarfare-OV7KP.ttf);

}

@font-face {
    font-family: League;
    src: url(league/league/League-Inline.otf);
}

@font-face {
    font-family: robott;
    src: url(robotech-gp/ROBOTECH\ GP.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    color: var(--cardinal);

}

body {
    background-color: var(--federal-blue);
    font-family: Modern;
}

header {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    padding-right: 10px;

}

.dis {
    color: #08001c;
    width: 700px;
    font-size: 29px;
    padding-top: 10px;
}

.talk {
    background-image: url(wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    font-family: robott;

}

.content_dis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}

.who p {
    color: #200070;
}

.who span {
    color: #0be7db;
    letter-spacing: 1px;
}

.who {
    display: flex;
    font-size: 30px;
    font-weight: bold;
}



.talk p {
    margin-top: 5px;
}


.content .title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-family: robott;
}

.card h2 {
    display: flex;
    justify-content: center;

}

.card p {
    text-align: center;
}

.card {
    margin: 20px;
    box-shadow: 0 5px 30px #47eabe;
    padding: 40px;
    padding-bottom: 300px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: rgb(15, 8, 34);
    max-width: 100%;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    backface-visibility: hidden;
}

.front img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;

}

.back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.front img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 199px;
    padding: 10px;
    color: white;
    position: relative;
    top: 100px;
    left: 40px;
}


.back p {
    width: 300px;
    font-size: 20px;
}

.unity {
    position: relative;
    left: 35px;
}

.moho img {
    max-width: 140px;
}

.moho {
    position: relative;
    left: 35px;
}



i {
    font-size: 25px;
    color: white;
    padding-left: 20px;
    margin-top: 20px;
}


.games {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    font-family: Modern;
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 8, 34);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.game-card img {
    border-radius: 10px;
}

.game-name {
    font-size: 25px;
}

.game-card a {
    padding: 10px;
}


footer {

    background-color: rgb(15, 8, 34);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Space;
}

.contact {
    padding: 20px;
}



footer img {
    max-width: 200px;

}

button {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    color: #0be7db;
    background-color: #08001c;
    right: 20px;
    bottom: 50px;
    border-color: #0be7db;
    display: none;
}

@media(max-width: 700px) {
    .dis {

        width: 100%;
        font-size: 20px;
        padding: 10px;
    }
}

@media(max-width: 500px) {
    .dis {

        width: 100%;
        font-size: 20px;
    }

    .back p {
        width: 300px;
        font-size: 25px;
    }

    .dis {
        padding: 10px;
    }
}


@media (max-width: 450px) {
    .contact h2 {
        padding: 10px;
        font-size: 20px;
    }

    header {
        font-size: 10px;
    }

    .dis {

        width: 100%;
        font-size: 20px;
    }

    .front img {
        max-width: 100px;
    }

    .unity {
        left: 60px;
    }

    .moho {
        left: 60px;
    }

    .blender {
        position: absolute;
        left: 90px;
    }


    .back p {
        width: 300px;
        font-size: 25px;
    }

    .dis {
        padding: 10px;
    }
}

@media (max-width: 420px) {

    .back p {
        width: 270px;
        font-size: 25px;
    }


}

@media (max-width: 380px) {

    .dis {
        padding: 10px;
    }

    .back p {
        width: 200px;
        font-size: 20px;
    }

    header {
        font-size: 10px;
    }

    .content_dis {
        font-size: 10px;
    }

    .front img {
        max-width: 100px;
    }

    .blender {
        position: relative;
        left: 10px;
    }

    .unity {
        left: 15px;
    }

    .moho {
        left: 15px;
    }

    .back {
        font-size: 10px;
    }

    .content .title {
        font-size: 20px;
    }

    .card {
        padding-left: 30px;
    }

    .contact {
        padding: 10px;
    }

    .contact h2 {
        font-size: 15px;
    }

    .game-card img {
        max-width: 250px;
    }


}

@media(max-width: 279px) {
    i {
        font-size: 20px;
    }
}